h1,h2{
    color: hwb(111 83% 15%);
}h1{
    margin-block-start: 0em;
}
body{
    background-color:black;
}

input{
    height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    outline: none;
    font-size: 1.6em;
    padding: 0 10px;
    line-height: 10px;
    border-radius: 5px;
    border: 2x solid #f0ffff;
    background: #1c2841;
    transition: 0.1s ease;
    z-index: 1111; 

}

input:focus,
input:valid{
    color: #66ff00;
    border: 4px solid #66ff00;
    transform: scale(1.10);
    z-index: 1111;
}

.container, .text_display{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.calculadora,.text_display {
    background-color:#1C1C1C;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
}
.imc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.text_display{
    justify-content: space-between;
    display: flex;
}

.calcular{
    height: 3em;
    width: 80%;
    justify-content: center;
    background-color: hsl(108, 89%, 37%);
    border: none;
    color: white;
    border-radius: 0.3em;
    margin-top: 2em;
}

.selectorholder{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.selectorbutton{
    width: 25%;
    margin: 0.5em;
    background-color: rgb(183, 189, 164);
    border: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

.textarea{
    display:flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.gasolina{
    display: none;
}

.moedas{
    display:none;
}

#resultado{
    color: white;
    width: 200px;
    height: 100%;
}